    h1 {
      background-color: #96D6FF;
      color: #FFFFFF;
    }
    
    a {
      color: #FFFFFF;
    }
    
    body {
      background-color: #26ACFFE6
    }
    
    /* mengubah div menjadi tampilan kartu*/
    div.kartu-profil {
      background-color: #96C9FFCC;
      width: 280px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
      text-align: center;
    }
    
    div.kartu-profil img {
      border-radius: 50%;
      border: 5px solid #FFFFFF;
    }
    
    .navigasi {
      background-color: #7EC9FF;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
    }
    
    .navigasi a {
      text-decoration: none;
      color: #000000;
    }
    
    .navigasi .aktif {
      font-weight: bold;
      color: #FFFFFF;
    }
    
    div.kartu-kontak {
      background-color: #9BD9FF;
      width: 80%;
      margin: 0 auto;
      /* rata tengah horizontal */
      padding: 10px;
      border-radius: 10px;
      /* sudut kontak tumpul */
    }
    
    .tombol-medsos{
      /* agar tombol melebar satu baris penuh */
      display: block;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      margin: 8px;
      border-radius: 12px;
    }
    
  .wa{
    background-color: #25d366;
  }
  
  .GitHub {
    background-color: #696969;
  }